<div class="modal-body">
    <div class="row" style="background-color: teal;width: 33.2rem;margin-top: -1rem;">
        <p style="color:white;margin-left: auto;margin-right:auto;margin-top: 10px;"> المستشار </p>
    </div>
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left: auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2">الاسم بالكامل</h6>
                    <p class="card-text text-right" style="color:teal;margin-top: -5px;font-size: 18px;">
                        {{oneRow.full_name}}</p>

                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2">الوظيفه</h6>
                    <p class="card-text text-right" style="color: teal;margin-top: -5px;font-size: 18px;">
                        {{oneRow.occupation}}</p>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2"> المرتب بالكامل</h6>
                    <p class="card-text text-right" style="color:teal;margin-top: -5px;font-size: 16px;">
                        {{oneRow.total_salary}}</p>

                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2">المبلغ </h6>
                    <p class="card-text text-right" style="color: teal;margin-top: -5px;font-size: 18px;">
                        {{oneRow.salary}}</p>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2"> نوع العقار</h6>
                    <p class="card-text text-right" style="color:teal;margin-top: -5px;font-size: 16px;">
                        {{oneRow.aqar_type}}</p>

                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2">رقم الملف </h6>
                    <p class="card-text text-right" style="color: teal;margin-top: -5px;font-size: 18px;">
                        {{oneRow.file_num}}</p>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2">صاحب العمل </h6>
                    <p class="card-text text-right" style="color:teal;margin-top: -5px;font-size: 16px;">
                        {{oneRow.employer}}</p>

                </div>
            </div>
        </div>
        

    </div>

</div>