<div class="modal-body">
    <div class="row" style="background-color: teal;width: 33.2rem;margin-top: -1rem;">
        <p style="color:white;margin-left: auto;margin-right: auto;margin-top: 10px;">تعديل طلب التمويل العقارى </p>
    </div>
    <form style="margin-top: 2rem;" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="row ml-auto mr-auto" style="width:100%">

            <div>
                <label style="margin-left: 13rem;"> ID </label>
                <input type="text" style="height:50px;width: 215px;" formControlName="finance_id" class="form-control"
                    name="finance_id">

            </div>
            <div >
                <label style="margin-left: 8rem;"> الاسم بالكامل </label>
                <input type="text" style="height:50px;width: 215px;" formControlName="full_name" class="form-control mr-2"
                    name="full_name">

            </div>

            <div style="margin-top: 1rem;">
                <label style="margin-left: 10rem;"> مبلغ البنك </label>
                <input type="text" style="height:50px;width: 215px;" formControlName="bank_salary" class="form-control"
                    name="bank_salary">

            </div>
            <div style="margin-top: 1rem;">
                <label style="margin-left: 11rem;">المبلغ</label>
                <input type="text" style="height:50px;width: 215px;" formControlName="salary" class="form-control mr-2"
                    name="salary">

            </div>
            <div style="margin-top: 1rem;">
                <label style="margin-left: 8rem;"> المبلغ بالكامل</label>
                <input type="text" style="height:50px;width: 215px;" formControlName="total_salary" class="form-control"
                    name="total_salary">

            </div>
            <div style="margin-top: 1rem;">
                <label style="margin-left: 11rem;">  الخصم</label>
                <input type="text" style="height:50px;width: 215px;" formControlName="deduction" class="form-control mr-2"
                    name="deduction">

            </div>
            <div style="margin-top: 1rem;">
                <label style="margin-left: 9rem;"> صاحب العمل</label>
                <input type="text" style="height:50px;width: 215px;" formControlName="employer" class="form-control"
                    name="employer">

            </div>
            <div style="margin-top: 1rem;">
                <label style="margin-left:11rem;"> العمل</label>
                <input type="text" style="height:50px;width: 215px;" formControlName="occupation" class="form-control mr-2"
                    name="occupation">

            </div>
           
            
        </div>


        <div class="modal-footer " style="border: none;">
            <button [disabled]="isLoading" class="btn" style="background-color:  teal;
            color: white;width:420px;height: 50px;font-size: 18px;font-weight: bold;margin-left: 2rem;
           ">حفظ</button>
        </div>
    </form>
</div>