<div class="modal-body">
    <div class="modal-header " style="background-color: teal;">
        <p style="color:white;margin-left: auto;margin-right:auto;margin-top: 10px;font-size: 25px;font-weight: bold;"> العقــارات </p>
    </div>
    <form style="margin-top: 2rem;" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div style="margin-top: 1rem;">
                <label style="margin-left: 10.5rem;">نوع العقار </label>
                <br>
                <select class="form-control mr-3" style="width: 215px;height:50px;" formControlName="aqar_type">
                    <option value="" disabled selected>اختر نوع العقار</option>
                    <option [value]="1">شقه</option>
                    <option [value]="2">فيلا</option>
                    <option [value]="3">عماره</option>
                    <i class="fas fa-angle-down text-info"></i>
                </select>
            </div>
            <div style="margin-top: 1rem;">
                <label style="margin-left: 11rem;">المدينه </label>
                <br>
                <select class="form-control mr-3 " style="width: 215px;height:50px;" 
                    formControlName="city">
                    <option value="" disabled selected>اختر المدينه</option>
                    <option *ngFor="let item of cityList" [value]="item.name_ar">{{item.name_ar}}</option>
                    <i class="fas fa-angle-down text-info"></i>
                </select>
            </div>
        </div>
        
        <div class="row">
            <div style="margin-top: 1rem;">
                <label style="margin-left: 12rem;">الحي </label>
                <br>
                <select class="form-control mr-3" style="width: 215px;height:50px;" 
                    formControlName="district">
                    <option value="" disabled selected>اختر الحي</option>
                    <option *ngFor="let item of districtList" [value]="item.name_ar">{{item.name_ar}}</option>
                    <i class="fas fa-angle-down text-info"></i>
                </select>
            </div>
            <div style="margin-top: 1rem;">
            
                <label style="margin-left: 9rem;">رقم العقار</label>
                <input type="text"  style="height:50px;width: 215px;" formControlName="suk_number" class="form-control mr-3"
                    name="suk_number">
            </div>
        </div>
        <div class="row">
            <div style="margin-top: 1rem;">
                <label style="margin-left: 9rem;"> تاريخ العقار  </label>
                
                <input type="date"  style="height:50px;width: 215px;" formControlName="suk_date" class="form-control mr-3"
                    name="suk_date">
            </div>
            <div style="margin-top: 1rem;">
            
                <label style="margin-left: 9rem;"> الشقــق</label>
                <input type="text"  style="height:50px;width: 215px;" formControlName="unit_number_apartments" class="form-control mr-3"
                    name="unit_number_apartments">
            </div>
        </div>
        <div class="row">
            
            <div style="margin-top: 1rem;">
                <label style="margin-left: 9rem;"> عدد الواجهات   </label>
                
                <input type="text"  style="height:50px;width: 215px;" formControlName="interfaces_number" class="form-control mr-3"
                    name="interfaces_number">
            </div>
            <div style="margin-top: 1rem;">
            
                <label style="margin-left: 10rem;">سعر الارض</label>
                <input type="text"  style="height:50px;width: 215px;" formControlName="land_price" class="form-control mr-3"
                    name="land_price">
            </div>
        </div>
       
        <div>
            <button type="submit" class="btn mb-3 "
              style="color: white;font-size: 20px;width:400px;float: right;margin-right: 2rem;
              background-color:teal;margin-top: 2rem;">حفظ</button>
          </div>
    </form>
</div>