<div class="modal-body">
    <div class="row" style="background-color: teal;width: 33.2rem;margin-top: -1rem;">
        <p style="color:white;margin-left: auto;margin-right:auto;margin-top: 10px;"> المستشار </p>
    </div>
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left: auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2">المستشار </h6>
                    <p class="card-text text-right" style="color:teal;margin-top: -5px;font-size: 18px;">
                        {{oneRow.consultant.name}}</p>

                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2">العميل</h6>
                    <p class="card-text text-right" style="color: teal;margin-top: -5px;font-size: 18px;">
                        {{oneRow.user.name}}</p>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2">  سرعة التنفيذ</h6>
                    <p class="card-text text-right" style="color:teal;margin-top: -5px;font-size: 16px;">
                        {{oneRow.execution_speed}} <i class="fas fa-star ml-2" style="color: teal;"></i></p>

                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2">جودة التنفيذ </h6>
                    <p class="card-text text-right" style="color: teal;margin-top: -5px;font-size: 18px;">
                        {{oneRow.execution_quality}} <i class="fas fa-star ml-2" style="color: teal;"></i></p>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2"> توضيح التفسير</h6>
                    <p class="card-text text-right" style="color:teal;margin-top: -5px;font-size: 16px;">
                    {{oneRow.explanation_clarification}} <i class="fas fa-star ml-2" style="color: teal;"></i></p>

                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2">حضور دائم </h6>
                    <p class="card-text text-right" style="color: teal;margin-top: -5px;font-size: 18px;">
                          {{oneRow.permanent_presence}} <i class="fas fa-star ml-2" style="color: teal;"></i></p>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2">التواصل الفعال </h6>
                    <p class="card-text text-right" style="color:teal;margin-top: -5px;font-size: 16px;">
                         {{oneRow.effective_communication}} <i class="fas fa-star ml-2" style="color: teal;"></i></p>

                </div>
            </div>
        </div>
        
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid teal;height: 70px;">
                <div class="card-body" style="margin-left:auto;margin-top: -1rem;">
                    <h6 class="card-title text-right mt-2"> الكومنت </h6>
                    <p class="card-text text-right" style="color:teal;margin-top: -5px;font-size: 16px;">
                        {{oneRow.comment}}</p>

                </div>
            </div>
        </div>
        

    </div>

</div>