<app-side></app-side>
<app-header></app-header>
<div class="appSideInfo">
  <div class="infoContent">
   
    <div class="container-fluid">
      
      <div class="row text-center mt-5">
          <div class="col-md-4 ">
              <div class="card" style="border-top: 7px solid rgb(238, 203, 8);">
                  <div class="card-header">
                    عــدد المــدن
                  </div>
                  <div class="card-body">
                      <p class="card-text" style="font-size: 40px;" > 
                          {{dashboardList.cities_num}}
                      </p>
                      
                    </div>
              </div>
          </div>
          <div class="col-md-4" >
              <div class="card" style="border-top: 7px solid rgb(84, 179, 207);">
                  <div class="card-header">
                 عــدد الطلبــات
                  </div>
                  <div class="card-body">
                      <p class="card-text" style="font-size: 40px;">
                          {{dashboardList.orders_num}}
                      </p>
                      
                  </div>
              </div>

          </div>
          <div class="col-md-4" >
              <div class="card" style="border-top: 7px solid rgb(12, 90, 207);">
                  <div class="card-header">
                       عــدد الجهــات
                  </div>
                  <div class="card-body">
                      <p class="card-text" style="font-size: 40px;">
                          {{dashboardList.companies_num}}
                      </p>
                      
                  </div>
              </div>

          </div>
      </div>
      <div class="row text-center mt-5">
          <div class="col-md-4 ">
              <div class="card" style="border-top: 7px solid rgb(99, 211, 187);">
                  <div class="card-header">
                       عــدد المستــشارين العقـارين

                  </div>
                  <div class="card-body">
                      <p class="card-text" style="font-size: 40px;">
                          {{dashboardList.consultants_num}}
                      </p>
                     
                  </div>
              </div>
          </div>
          <div class="col-md-4" >
              <div class="card" style="border-top: 7px solid rgb(210, 212, 69);">
                  <div class="card-header">
                      عــدد طلبــات التمويل
                  </div>
                  <div class="card-body">
                      <p class="card-text" style="font-size: 40px;">
                          {{dashboardList.applications_num}}
                      </p>
                     
                  </div>
              </div>

          </div>
          <div class="col-md-4" >
              <div class="card" style="border-top: 7px solid rgb(255, 229, 145);">
                  <div class="card-header">
                       عــدد العــروض 
                  </div>
                  <div class="card-body">
                      <p class="card-text" style="font-size: 40px;">
                          {{dashboardList.offers_num}}
                      </p>

                  
                  </div>
              </div>

          </div>
      </div>
     
  </div>
  </div>
</div>